/* /Components/Carousel.razor.rz.scp.css */
.text[b-fwcwvxu9ge]{
    background-color: blue;
    color: purple;
}
/* /Pages/Buttons.razor.rz.scp.css */
body[b-yvooa9k0hu] {
    margin: 0;
    padding: 0;
}

.myBox[b-yvooa9k0hu] {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.myBox2[b-yvooa9k0hu] {
    width: 80vw;
    height: 80vh;
}

.box3[b-yvooa9k0hu] {
    width: 100%;
    height: 50%;
    display: flex;
}

.content-box[b-yvooa9k0hu] {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: green;
    border: 10px solid #fff;
    overflow: hidden;
    transition: 400ms ease-in-out;
}

    .content-box img[b-yvooa9k0hu] {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 400ms ease-in-out;
    }

    .content-box:nth-child(1):hover[b-yvooa9k0hu] {
        width: 140%;
    }

        .content-box:nth-child(1):hover img[b-yvooa9k0hu] {
            filter: grayscale(120%);
        }

    .content-box:nth-child(2):hover[b-yvooa9k0hu] {
        width: 140%;
    }

    .content-box:nth-child(3):hover[b-yvooa9k0hu] {
        width: 140%;
    }

.show_text[b-yvooa9k0hu] {
    position: absolute;
    left: 0;
    bottom: -15vh;
    width: 100%;
    height: 15vh;
    background-color: #fff;
    color: #292929;
    transition: 400ms ease-in-out;
}

.text[b-yvooa9k0hu] {
    visibility: hidden;
    transition: 400ms ease-in-out;
}

.content-box:nth-child(1):hover .show_text[b-yvooa9k0hu] {
    bottom: 0;
}

.content-box:nth-child(1):hover .text[b-yvooa9k0hu] {
    visibility: visible;
}

@keyframes show_text-b-yvooa9k0hu {
    0% {
        display: none;
    }

    1% {
        display: block;
    }

    100% {
        display: block;
    }
}

.box1[b-yvooa9k0hu] {
    display: flex;
    width: 100%;
    height: 50%;
    background-color: blue;
    border: 10px solid #fff;
    overflow: hidden;
}

    .box1 img[b-yvooa9k0hu] {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 400ms ease-in-out
    }

    .box1:hover img[b-yvooa9k0hu] {
        transform: scale(1.1);
    }









.myBox3[b-yvooa9k0hu] {
    height: 100vh;
    width: 70vw;
    margin: auto auto;
}

.navigation[b-yvooa9k0hu] {
    width: 100%;
    display: flex;
}

    .navigation .nav-but[b-yvooa9k0hu] {
        background-color: white;
        width: 10vw;
        padding: 0;
        text-align: center;
        font-weight: bold;
        margin: 0;
        border: 3px solid #B0B0B0;
    }

.selected_button[b-yvooa9k0hu] {
    background-color: white;
    width: 10vw;
    padding: 0;
    text-align: center;
    font-weight: bold;
    margin: 0;
    border: 3px solid #B0B0B0;
    border-bottom: none;
}

.boxxx[b-yvooa9k0hu] {
    width: 100%;
    height: 500px;
    background-color: white;
    border: 3px solid #B0B0B0;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
/* /Pages/Index.razor.rz.scp.css */
body[b-5ou1u589gv] {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #434343;
}

.logo[b-5ou1u589gv]{
    width: 110px;
    height: 30px;
}

a[b-5ou1u589gv] {
    position: relative;
    text-decoration: none;
    color: #434343;
    font-size: 17px;    
    top: 0;
    left: 0%;
    animation: 1s ease-in-out 0.5s 1 menuItem-b-5ou1u589gv;
}

.box[b-5ou1u589gv] {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.text[b-5ou1u589gv]{
    position: relative;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

    .text h1[b-5ou1u589gv] {
        font-size: 110px;
        letter-spacing: 5px;
        color: #1EAE88;
        font-weight: 500;
        margin-bottom: 80px;
    }

.text p[b-5ou1u589gv]{
    font-size: 30px;
    font-weight: 400;
}

    .text p:nth-child(3)[b-5ou1u589gv] {
        color: #E13E91;
    }

.container[b-5ou1u589gv]{
    display: flex;
    justify-content: center;
}

.box-grid[b-5ou1u589gv]{
    width: 70%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(22, 100px);
}

.box-grid .content-grid[b-5ou1u589gv]{
    width: 100%;
    height: 100%;
    position: relative;
}

.content-grid img[b-5ou1u589gv]{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.content-grid div[b-5ou1u589gv]{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    opacity: 0;
    transition: .3s ease-in-out;
}

.content-grid:hover div[b-5ou1u589gv]{
    opacity: 1;
}


footer[b-5ou1u589gv] {
    width: 100%;
    color: #7F7F7F;
    text-align: center;
    margin-top: 30vh;
    padding: 10px;
}

/*============ GRID-ROWS =============*/

.box-grid .content-grid:nth-child(1)[b-5ou1u589gv]{
    grid-row: 1/ span 3;
}

.box-grid .content-grid:nth-child(2)[b-5ou1u589gv]{
    grid-row: 1/ span 4;
}

.box-grid .content-grid:nth-child(3)[b-5ou1u589gv]{
    grid-row: 4/ span 5;
}

.box-grid .content-grid:nth-child(4)[b-5ou1u589gv]{
    grid-row: 5/ span 7;
}

.box-grid .content-grid:nth-child(5)[b-5ou1u589gv]{
    grid-row: 9/ span 4;
}

.box-grid .content-grid:nth-child(6)[b-5ou1u589gv]{
    grid-row: 13/ span 3;
}

.box-grid .content-grid:nth-child(7)[b-5ou1u589gv]{
    grid-row: 12/ span 5;
}

.box-grid .content-grid:nth-child(8)[b-5ou1u589gv] {
   grid-row: 16/ span 7;
}


.box-grid .content-grid:nth-child(9)[b-5ou1u589gv] {
    grid-row: 17/ span 6;
}





@media only screen and (max-width: 480px){
    .box-grid[b-5ou1u589gv] {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(20, 100px);
    }
}

@media only screen and (max-width: 990px) {
    .box-grid[b-5ou1u589gv] {
        width: 70%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(20, 100px);
    }
}


@keyframes menuItem-b-5ou1u589gv{
    0%{
        top: -200%;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}
/* /Pages/Test.razor.rz.scp.css */
body[b-bccx5e5jro] {
    width: 100vw;
    padding: 0;
    margin: 0;
}

.container[b-bccx5e5jro] {
    background-color: black;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.box-grid[b-bccx5e5jro] {
    width: 60%;
    display: grid;
}

img[b-bccx5e5jro] {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

@media only screen and (min-width: 960px) {
    .box-grid[b-bccx5e5jro] {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* /Pages/TimerExample.razor.rz.scp.css */
body[b-arxbum7rlc] {
}


.item[b-arxbum7rlc] {
    padding-left: 90px;
    padding-right: 9px;
    padding-top: 4px;
    padding-bottom: 2px;
    border-color: blue;
    border-width: 2px;
    border-radius: 5px;
    min-height: 10px;
    min-width: 10px;
    background-color: lightblue;
    color: darkorange;
    width: 90px;
    height: 20px;
}


.version[b-arxbum7rlc] {
    display: flex;
    border-radius: 15px;
    width: 30%;
    background-color: coral;
    color: white;
    justify-content: center;
    transition: width 1s ease-in-out;
}

.version-bigger[b-arxbum7rlc] {
    width: 90%;
}

.version .bigger[b-arxbum7rlc] {
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-tythk0fk5s] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-tythk0fk5s] {
    flex: 1;
}

.sidebar[b-tythk0fk5s] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-tythk0fk5s] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-tythk0fk5s]  a, .top-row[b-tythk0fk5s]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-tythk0fk5s]  a:hover, .top-row[b-tythk0fk5s]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-tythk0fk5s]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-tythk0fk5s] {
        display: none;
    }

    .top-row.auth[b-tythk0fk5s] {
        justify-content: space-between;
    }

    .top-row[b-tythk0fk5s]  a, .top-row[b-tythk0fk5s]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-tythk0fk5s] {
        flex-direction: row;
    }

    .sidebar[b-tythk0fk5s] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-tythk0fk5s] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-tythk0fk5s]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-tythk0fk5s], article[b-tythk0fk5s] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-gpywbifaxj] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-gpywbifaxj] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-gpywbifaxj] {
    font-size: 1.1rem;
}

.oi[b-gpywbifaxj] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-gpywbifaxj] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-gpywbifaxj] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-gpywbifaxj] {
        padding-bottom: 1rem;
    }

    .nav-item[b-gpywbifaxj]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-gpywbifaxj]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-gpywbifaxj]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-gpywbifaxj] {
        display: none;
    }

    .collapse[b-gpywbifaxj] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
