@inherits MyAnimationBase
@using BlazorWebAssembly.Services

<Animation Style="@Style"  Effect="@VisualEffect" Enabled="@Enabled"  Speed="@Speed.Slower" IterationCount="1">
<div @ref=ElementReference>
    @ChildContent
</div>
</Animation>

@code {
    
}
