@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<MudPaper>
    <h1>wrgwrwrwwrwwgwnowngogn</h1>
    <h1>wrgwrwrwwrwwgwnowngogn</h1>
    <h1>wrgwrwrwwrwwgwnowngogn</h1>
</MudPaper>

<SurveyPrompt Title="How is Blazor working for you?" />